<h1>Microdata</h1>
<div class="tracy-inner" >
	<?php foreach($sections as $name => $val): ?>
	<div class="tracy-inner tracy-DumpPanel">
	<h2><?=$name?></h2>
	</div>
		<div class="tracy-inner nette-SessionPanel" style="max-height: none;">
			<table width="100%">
				<tbody>
				<?php foreach($val as $k=>$v):?>
				<tr>
					<th><?php echo $k?></th>
					<td>
						<?php echo (!is_array($v)?$v:"")?>
						<?php if(is_array($v)): ?>
							<table width="100%">
								<tbody>
									<?php foreach ($v as $k1 => $v1): ?>
									<tr>
										<th><?php echo $k1 ?></th>
										<td>
											<?php echo (!is_array($v1)?$v1:"")?>
											<?php if(is_array($v1)): ?>
												<table width="100%">
													<tbody>
													<?php foreach ($v1 as $k2 => $v2): ?>
														<tr>
															<th><?php echo $k2?></th>
															<td><?php echo (!is_array($v2)?$v2:"")?></td>
														</tr>
													<?php endforeach; ?>
													</tbody>
												</table>
											<?php endif; ?>
										</td>
									</tr>
									<?php endforeach; ?>
								</tbody>
							</table>
						<?php endif; ?>
					</td>
				</tr>
				<?php endforeach; ?>
				</tbody>
			</table>
		</div>
	<?php endforeach; ?>
</div>