<span title="Microdata">
<svg viewBox="0 0 512 521">
	<? /*<path fill="<?= $count ? '#b079d6' : '#aaa' ?>" d="M1024 896q237 0 443-43t325-127v170q0 69-103 128t-280 93.5-385 34.5-385-34.5-280-93.5-103-128v-170q119 84 325 127t443 43zm0 768q237 0 443-43t325-127v170q0 69-103 128t-280 93.5-385 34.5-385-34.5-280-93.5-103-128v-170q119 84 325 127t443 43zm0-384q237 0 443-43t325-127v170q0 69-103 128t-280 93.5-385 34.5-385-34.5-280-93.5-103-128v-170q119 84 325 127t443 43zm0-1152q208 0 385 34.5t280 93.5 103 128v128q0 69-103 128t-280 93.5-385 34.5-385-34.5-280-93.5-103-128v-128q0-69 103-128t280-93.5 385-34.5z"/>*/?>
	<g id="layer1" transform="translate(0,-540.3622)">
		<g id="layer1-5" transform="translate(-573.14286,170.28574)"/>
		<path fill="<?= $count ? '#C33465' : '#aaa' ?>" d="m 373.96875,587.90908 -18.78125,6.8125 -75.1875,27.375 -18.78125,6.84375 6.84375,18.78125 123.125,338.31255 6.84375,18.78117 18.78125,-6.84367 75.1875,-27.3438 18.78125,-6.8437 -6.84375,-18.81255 -123.125,-338.28125 -6.84375,-18.78125 z m -372.75,16.90625 0,20 0,360 0,19.99997 20,0 80,0 20,0 0,-19.99997 0,-360 0,-20 -20,0 -80,0 -20,0 z m 130,0 0,20 0,360 0,19.99997 20,0 80,0 20,0 0,-19.99997 0,-360 0,-20 -20,0 -80,0 -20,0 z m 241.0625,36.90625 59.875,164.4375 -75.1875,27.375 -59.84375,-164.4375 75.15625,-27.375 z m -351.0625,13.09375 80,0 0,175 -80,0 0,-175 z m 130,0 80,0 0,175 -80,0 0,-175 z M 425.375,879.40908 c 10.19405,0.0196 19.77945,6.33245 23.46875,16.46875 4.7223,12.97441 -1.9943,27.30893 -14.96875,32.03125 -12.97445,4.72231 -27.30895,-1.96309 -32.03125,-14.9375 -4.72231,-12.97446 1.96305,-27.30894 14.9375,-32.03125 2.83816,-1.03301 5.73942,-1.53674 8.59375,-1.53125 z M 61.21875,894.81533 c 13.807119,0 25,11.19287 25,25 0,13.80712 -11.192881,25 -25,25 -13.807119,0 -25,-11.19288 -25,-25 0,-13.80713 11.192881,-25 25,-25 z m 130,0 c 13.80712,0 25,11.19287 25,25 0,13.80712 -11.19288,25 -25,25 -13.80712,0 -25,-11.19288 -25,-25 0,-13.80713 11.19288,-25 25,-25 z" id="rect3028" style="font-size:medium;font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;text-indent:0;text-align:start;text-decoration:none;line-height:normal;letter-spacing:normal;word-spacing:normal;text-transform:none;direction:ltr;block-progression:tb;writing-mode:lr-tb;text-anchor:start;baseline-shift:baseline;fill-opacity:1;fill-rule:nonzero;stroke:none;stroke-width:40;marker:none;visibility:visible;display:inline;overflow:visible;enable-background:accumulate;font-family:Sans;-inkscape-font-specification:Sans"/>
	</g>

</svg>
	<span class="tracy-label"><?= $count ?></span>
</span>